body {
    min-width: 1160px;
    margin: 0;
    padding: 0;

    font-family: "Roboto","Arial","Arial Black", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-menu {
   padding: 20px;
   margin: 0 auto;

   background-color: #eeeeee;
}

.main-navigation {
    width: 1160px;
    margin: 0 auto;
	display: flex;
	flex-direction: row;
    align-items: center;
	background-color: #eeeeee;
}

.main-navigation-logo {
    display: flex;
    justify-content: flex-start;

}

 .item-navigation {
	display: flex;
    padding-top: 10px;
}

.visually-hidden {
    display: none;
}

.item-navigation {
	width: 800px;
	padding-left: 200px;
}

.site-navigation {
    width: 440px;

    display: flex;
    justify-content: space-between;
}

.user-navigation {
    width: 124px;
    
    display: flex;
    justify-content: flex-end;
}

.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	width: 460px;

	list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
    line-height: 30px;
    text-transform: uppercase;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color:#fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color:#cacaca;
}

.container {
    width: 100%;
}

.wrapper {
    background-color: #eeeeee;
}

.slide-information p {
    color: #283136;
    line-height: 24px;
    width: 380px;
}

p.about-us {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    width: 510px;
}

.slider {
	position: relative;
	width: 1160px;
    padding: 20px;
    padding-top: 0;
	display: flex;
    background-color: #eeeeee;
    padding-bottom: 0;
    margin: 0 auto;
}

.slider-content {
	height: 412px;
	overflow: hidden;
	position: relative;
	width: inherit;
    background-color: #eeeeee;
}

.slides {
	opacity: 0;
	position: absolute;
	z-index: 0;
	width: 1160px;

}

#slide1:checked ~ .slider-content > .slide1,
#slide2:checked ~ .slider-content > .slide2,
#slide3:checked ~ .slider-content > .slide3 {
	opacity: 1;
	z-index: 1;
}

.slider > input {
	display: none;
}

.slider .controls {
	position: absolute;
    left: 536px;
    bottom: 96px;
    z-index: 200;

}

.slider label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	width: 8px;
	border-radius: 50%;
}

.slider label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
	background: #ffffff;
    border: 1px solid #c2c2c2;
}

.slider label:after {
    background-color: #ffffff;
	content: " ";
	display: block;
	height: 18px;
    width: 18px;
    border-radius: 50%
}

.slide-information {
    width: 450px;
}

.slides img {
    position: absolute;
    right: 32px;
    top: 0;
}

.slide2 img,
.slide3 img {
    position: absolute;
    right: 0;
}

.btn-lg {
    display: inline-block;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.services {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 80px;
    width: 1200px;
}

.services-list {
	display: flex;
	justify-content: flex-start;
	padding: 0;
    padding-left: 20px;

	list-style: none;
}

.services-item {
	width: 300px;
    padding-right: 100px;
}

.services-item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.services-item p {
    color:#283136;
    line-height: 24px;
}

.btn-sm {
    display: inline-block;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.btn-red {
    background-color: #fb565a;
}

.btn-red:hover {
    background-color:#e74246;
}

.btn-red:active {
    background-color: #d7373b;
    color:#e48789;
}

.btn-green {
    background-color:#00ca74;
}

.btn-green:hover {
    background-color: #00bc6c;
}

.btn-green:active {
    background-color: #00aa62;
    color:#74c69c;
}

.btn-yellow {
    background-color:#efc84a;
}

.btn-yellow:hover {
    background-color: #eab534;
}

.btn-yellow:active {
    background-color: #e5a722;
    color:#edc47f;
}

.advantages {
    margin: 0 auto;

	display: flex;
	justify-content: space-between;
	
	width: 1160px;
}

.capability {
	width: 660px;
    padding-right: 140px;
}

.capability p {
    color:#283136;
    line-height: 24px;
}

.capability li {
    color:#283136;
    line-height: 24px;
}

p.advantages-item {
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.advantages-list {
    list-style: none;
}

p.definition {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.principles {
	width: 360px;
}

.data {
    width: 360px;
}

th {
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
    padding: 22px;
    padding-left: 0;
}

td {
    color:#283136;
    line-height: 18px;
}

.partners {
    display: flex;
    width: 1160px;
    margin: 0 auto
}

.partners-list {
	display: flex;
	justify-content: space-between;
    padding: 20px;
    padding-top: 0;
	margin: 0;

	list-style: none;
    margin-top: 128px;

	width: 1160px;
}

.partners-item {
    padding-left: 30px;
    padding-right: 30px;
}

.partners a {
    opacity: 0.3;
}

.partners a:hover {
    opacity: 1;
}

.partners a:active {
    opacity: 0.1;
}

.main-footer {
    margin: 0 auto;
	margin-top: 80px;

	width: 1430px;

}
.contacts {
	margin-bottom: 72px;
	width: 1160px;
    position: relative;
}

.map-container {
	width: 1430px;
}

.map {
    width: 100%;
    margin: 0 auto;
}

.main-footer .map-container {
    position: relative;
    z-index: 100;
}

.map-container .marker {
    position: absolute;
    z-index: 200;
    left: 815px;
    bottom: 141px;
}

.footer-contacts {
	width: 220px;
    position: absolute;
    padding: 50px;
    bottom: 60px;
    left: 140px;
    z-index: 200;
    background: #ffffff;
    margin: 0;
}

.footer-contacts h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}
.footer-contacts p {
    color:#666666;
    line-height: 18px;
    width: 204px;
}

.footer-social {
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
}

.social-button-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 72px;
}

.social-button-item {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 260px;
    list-style: none;
}

.social-button {
    background-color:#e1e1e1;
    display: inline-block;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    position: relative;
}

.social-button .vk {
    position: absolute;
    top: 31px;
    left: 24px;
}

.social-button .fb {
    position: absolute;
    top: 29px;
    left: 30px;
}

.social-button .inst {
    position: absolute;
    top: 28px;
    left: 27px;
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:active{
    background-color: #d7373b;
}

.footer-text p {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
}

p.discount {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 0;
}

.footer-text {
    width: 560px;
    display: flex;
    flex-direction: column;
    padding-left: 140px;
}
a.logo:hover {
    opacity: 0.75;
}
a.logo:active {
    opacity: 0.3;
}
.navigation-shop a {
    border-bottom: 2px solid #fb565a;
}
h1.shop {
    width: 1160px;
    margin: 0 auto;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    padding: 20px;
    background-color: #eeeeee;
    padding-top: 80px;
    padding-bottom: 110px;
}
.catalog-columns {
    width: 1160px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 63px;
}
.cost {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.filter {
    width: 260px;
    margin-right: 140px;
}
.range-controls {
    position:relative;
    height:80px;
    width: 200px;
    margin-bottom:10px;
    padding:0 30px;
    background:#eeeeee;
    border-radius:5px;
    overflow:hidden;
    margin-top: 56px;
}
.price-controls {
    margin-top: 15px;
}
.scale {
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.bar {
    width: 125px;
    height:2px;
    background:#00ca74;
}
.toggle {
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.max-toggle {
    left:19px;
}
.min-toggle {
    left: 150px;
}
.min-price,
.max-price {
    width: 60px;
    padding: 8px 10px;
    border: none;
    background:#eeeeee;
    text-align: center;
    border-radius: 5px;
    color: #000000;
    text-transform: uppercase;
}
.min-price {
    margin-left: 10px;
    margin-right: 25px;
}
.max-price {
    margin-left: 8px;
}
.grid p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 60px;
}
.grid-list {
    list-style: none;
    padding: 0;
}
.grid-item {
    color:#283136;
    line-height: 20px;
}
input[type="radio"],
input[type="checkbox"] {
    display: none;
    list-style: none;
}
.radio:not(checked) + label:before {
    content: "";
    display: inline-block;
    background-image: url(../img/radio-off.svg);
    opacity: 0.3;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.radio:checked + label:before {
    content: url(../img/radio-on.svg);
}
.radio:not(checked) + label:hover:before {
    opacity: 1;
}
.features p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 55px;
}
.features-list {
    list-style: none;
    padding: 0;
}
.features-item {
    color:#283136;
    line-height: 20px;
}
.checkbox:not(checked) + label:before {
    content: "";
    display: inline-block;
    background: url(../img/checkbox-off.svg);
    opacity: 0.3;
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
}
.checkbox:checked + label:before {
    content: url(../img/checkbox-on.svg);
}
.checkbox:not(checked) + label:hover:before {
    opacity: 1;
}
.grey-button {
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    width: 260px;
    height: 50px;
    background: #eeeeee;
    border-radius: 5px;
    border: none;
}
.grey-button a:hover {
    background-color: #dfdfdf;
}
.grey-button a:active {
    background-color: #d5d5d5;
    color:#b2b2b2;
}
.sort-catalog {
    width: 760px;
    display: flex;
    flex-direction: column;
}
.sort-list {
    display: flex;
}
.sort {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 265px;
}
.sort-item {
    width: 360px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.sort-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #cacaca;
}
.sort-item a:hover {
    color: #8d8d8d;
}
.sort-item a:active {
    color: #000000;
}
.sort-item .arrow-down,
.sort-item .arrow-up
 {
    opacity: 0.1;
}
.sort-item .arrow-down:hover,
.sort-item .arrow-up:hover {
    opacity: 0.3;
}
.sort-item .arrow-down:active,
.sort-item .arrow-up:active {
    opacity: 1;
}
.item-description a {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}
.catalog-list {
    width: 760px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 52px;
    padding: 0;
}
.catalog-item .browser,
.catalog-item .product-card {
    display: block;
}
.catalog-item .browser {
    opacity: 0.1;
}
.catalog-item .browser:hover {
    opacity: 1;
}
.catalog-item {
  display: inline-block;
  position: relative;
  margin-bottom: 32px;
}
.catalog-item:hover .item-description {
  display: block;
}
.item-description {
  width: 260px;
  height: 230px;
  position: absolute;
  bottom: 0px;
  background-color: #d5d5d5;
  font-size: 16px;
  display: none;
  color:#666666;
  line-height: 18px;
  text-align: center;
  padding: 50px;
}
a.btn {
    color:#ffffff;
    line-height: 50px;
    text-transform: uppercase;
}
.pager {
    list-style: none;
    width: 446px;
    justify-content: space-between;
    display: flex;
    padding: 0;

}
.pager-first a {
    line-height: 50px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    text-align: center;
}
.btn-pager a {
    line-height: 50px;
    font-weight: 400;
    color: #000000;
    background-color: #eeeeee;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}
.btn-pager a:hover {
    background-color:#dfdfdf;
}
.btn-pager a:active {
    background-color:#d5d5d5;
    color:#a9a9a9;
}
.btn-next a {
    color: #000000;
    line-height: 50px;
    margin-left: 75px;;
} 
.modal h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 400;
}
.modal p {
    font-weight: 700;
    line-height: 18px;
}
.write-form input[type="text"],
.write-form input[type="email"] {
    border: 2px solid #d7dcde;
    color: #d7dcde;
    width: 360px;
    height: 50px;
    border-radius: 3px;
}
.write-form textarea {
    border: 2px solid #d7dcde;
    color: #d7dcde;
    width: 760px;
    height: 117px;
    border-radius: 3px;
}
.write-form input:hover,
.write-form textarea:hover {
    border-color: #b4b9bb;
    color:#b4b9bb;
}
.write-form input:focus,
.write-form textarea:focus {
    border-color:#000000;
    color:#000000;
}
.write-form input:invalid,
.write-form textarea:invalid {
    border-color:#e74246;
    color:#e74246;
}
button.btn {
    color:#ffffff;
    line-height: 50px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}